{% extends 'base.html.twig' %}
{% block section %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="flex" style="border-radius: 1rem">
        <div class="w-full max-w-xs form ">
            <form class="shadow-md bg-amber-200 rounded px-8 pt-6 pb-8" style="height: 40rem" method="post" action="{{ path('app_login') }}" >
                <h2 class="block text-gray-700 text-3xl font-bold " style="margin-bottom: 4rem">
                    Connexion
                </h2>
                <div class="mb-4">
                    <label class="block text-gray-700 text-lg font-bold mb-4" for="email">
                        Email
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline input input-bordered input-lg w-full max-w-xs" id="username" type="text" placeholder="" name="_username" value="{{ last_username }}">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-lg font-bold mb-4" for="password">
                        Mot de passe
                    </label>
                    <input class="shadow appearance-none border border-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline input input-bordered input-lg w-full max-w-xs" id="password" type="password" placeholder="" name="_password">
                </div>
                <div class="" style=" display:flex; flex-direction: column; margin-top: 4.5rem">
                    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-8 rounded focus:outline-none focus:shadow-outline input input-bordered input-lg w-full max-w-xs" style= "margin-bottom:2rem" type="submit" value="login" >
                        Connexion
                    </button>
                    <a class="inline-block align-baseline font-bold text-lg text-green-500 hover:text-green-800" href="#"style= "margin-bottom:1rem">
                        Mot de passe oublié
                    </a>
                    <a class="inline-block align-baseline font-bold text-lg text-green-500 hover:text-green-800" href="/register">
                        Pas encore inscrit ?
                    </a>
                </div>
            </form>
        </div>
        <div style="background-image: url(images/housing/archive/david.jpg); width: 50rem; background-size: cover ">

        </div>
    </div>
{% endblock %}