{% extends 'base.html.twig' %}
{% block section %}
    <div class="w-full max-w-xs form">
        <form class="shadow-md bg-amber-200 rounded px-8 pt-6 pb-8 mb-4" style=":" >
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Email
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Mot de passe
                </label>
                <input class="shadow appearance-none border border-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="">
            </div>
            <div class="" style=" display:flex; flex-direction: column;">
                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" style= "margin-bottom:1.5rem" >
                    Connexion
                </button>
                <a class="inline-block align-baseline font-bold text-sm text-green-500 hover:text-green-800" href="#"style= "margin-bottom:1rem">
                    Mot de passe oublié
                </a>
                <a class="inline-block align-baseline font-bold text-sm text-green-500 hover:text-green-800" href="/register">
                    Pas encore inscrit ?
                </a>
            </div>
        </form>
    </div>
{% endblock %}