{% extends 'base.html.twig' %}
{% block section %}
    <div class="">
        <h1 class=" text-5xl font-bold" style="color: #e67e30; padding: 0.7rem; border-radius: 20px"></h1>
        <p class="mb-5"></p>
        <button class="btn btn-primary" style="background-color: #fde68a; color:#38A169">Reservez maintenant</button>
    </div>
{% endblock %}
